[package]
name = "libpulse-glib-binding"
version = "2.9.0"
authors = ["Lyndon Brown <jnqnfe@gmail.com>"]
license = "LGPL-2.1+"
readme = "README.md"
description = """
A Rust language binding for the PulseAudio libpulse-mainloop-glib library.
"""
keywords = ["binding", "pulse", "pulseaudio", "pulse-mainloop-glib", "audio"]
homepage = "https://github.com/jnqnfe/pulse-binding-rust"
repository = "https://github.com/jnqnfe/pulse-binding-rust"
exclude = ["README.md"]

[dependencies]
libpulse-binding = { path = "../pulse-binding", version = "2.7", default-features = false }
libpulse-mainloop-glib-sys = { path = "../pulse-sys-mainloop-glib", version = "1.7", default-features = false }
glib-sys = "0"
glib = "0"

[features]
default = ["latest_pa_common_compatibility"]

# PA version compatibility selection
# See the overall project `COMPATIBILITY.md` file for explanation.
#
# Alias targetting latest compatibility, with the exception only of that for a very new release
latest_pa_common_compatibility = ["pa_v12_compatibility"]
# Alias simply targetting latest compatibility
latest_pa_compatibility = ["pa_v12_compatibility"]
# Enables PA version 12 support
pa_v12_compatibility = [
    "libpulse-binding/pa_v12_compatibility",
    "libpulse-mainloop-glib-sys/pa_v12_compatibility"
]

# DEPRECATED, use `pa_v12_compatibility` instead
pa_encoding_from_string = ["pa_v12_compatibility"]

[badges]
travis-ci = { repository = "jnqnfe/pulse-binding-rust" }
