[package]
name = "libpulse-binding"
version = "2.4.0"
authors = ["Lyndon Brown <jnqnfe@gmail.com>"]
license = "LGPL-2.1+"
readme = "README.md"
description = """
A Rust language binding for the PulseAudio libpulse library.
"""
keywords = ["binding", "pulse", "pulseaudio", "audio"]
homepage = "https://github.com/jnqnfe/pulse-binding-rust"
repository = "https://github.com/jnqnfe/pulse-binding-rust"
exclude = ["README.md"]

[dependencies]
libc = "0.2"
libpulse-sys = { path = "../pulse-sys", version = "1.4", default-features = false }

[features]
default = ["latest_pa_compatibility"]

# PA version compatibility selection
# See the overall project `README.md` file for explanation.
latest_pa_compatibility = ["pa_v12_compatibility"]
pa_v12_compatibility = ["libpulse-sys/pa_v12_compatibility"]

# DEPRECATED, use `pa_v12_compatibility` instead
pa_encoding_from_string = ["pa_v12_compatibility"]

[badges]
travis-ci = { repository = "jnqnfe/pulse-binding-rust" }
