[package]
name = "libpulse-binding"
version = "2.2.1"
authors = ["Lyndon Brown <jnqnfe@gmail.com>"]
license = "LGPL-2.1+"
readme = "README.md"
description = """
A Rust language binding for the PulseAudio libpulse library.
"""
keywords = ["binding", "pulse", "pulseaudio", "audio"]

[dependencies]
libc = "0.2"
libpulse-sys = { path = "../pulse-sys", version = "1.3" }

[features]
default = ["pa_encoding_from_string"]
#include format::Encoding::from_string method, for which the underlying C API symbol was missing before PA v12
pa_encoding_from_string = ["libpulse-sys/pa_encoding_from_string"]

[badges]
travis-ci = { repository = "jnqnfe/pulse-binding-rust" }
